.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
        }

md-tabs {
    height:87%;
}

md-sidenav{
    
}

.grey {
  background-color: #D3D3D3;
  cursor:pointer;
}