<div layout="column" ng-controller="newstabsSearchController">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>NewsTabs</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <div flex layout="column">
                <img layout-padding layout-align="end center" ng-src="{{userIcon}}" class="md-avatar" />
                <div layout="row" layout-align="center center">
                    <h3>{{userName}}</h3></div>
                <md-subheader class="md-primary">Settings</md-subheader>
                <md-divider></md-divider>
                <div layout="column" layout-align="center center">
                    <md-checkbox ng-model="showDescription">Show Description</md-checkbox>
                    <md-button md-no-ink class="md-primary">Search</md-button>
                </div>
            </div>
        </md-sidenav>
        <md-content id="content" flex>
            <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="What is your favorite US state?">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found for "{{ctrl.searchText}}".
                </md-not-found>
            </md-autocomplete>
        </md-content>
    </div>
</div>